# Prerequisites / Dependency files
*.d

# Compiled Object Files
*.o
*.obj
*.lo
*.slo

# Precompiled Headers
*.gch
*.pch

# Static Libraries
*.a
*.lib
*.la
*.lai

# Dynamic Libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Linker Files
*.ilk

# Debugger Files
*.pdb
*.dwo

# Fortran Modules (if ever used)
*.mod
*.smod

# VS Code
.vscode/

# Make / CMake backup or intermediate files
CMakeFiles/
CMakeCache.txt
# Makefile
cmake_install.cmake
build/
*.json
*social_network_mini/main

# Log / temp files
*.log
*.tmp


# Editor files
*.swp
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db
